header {
  // @media (min-width: 375px) {
  //   max-width: 1440px;
  // }
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 23.4375em;

    // border-radius: 10px;

    @media (min-width: 375px) {
      max-width: 62.5em;
      padding: 0.625rem;
      border-radius: 15px;
    }
  }
}
